@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', Arial;
  color: #193932;
}

html
{
  overflow-y: overlay;
}

.active
{
  color: #80C3C3;
  border-bottom: 1.5px solid #7DB6A6;
}
